body {
  font-size: 16px;
}

.jumbotron h1{
  color: #FA3419;
}
.jumbotron small{
  color: #eee;
}

h2, .tomato{
  color: #FA3419;
}

.woody{
  color: #eee;
  min-height: 100px;
  margin: 0;
}

@media (min-width: 900px) {
  .woody{
    background: url(../images/talltrees.JPG) repeat-y ;
    background-attachment: fixed;
    background-position: 50% 0px;
    background-size: 100%;
  }
}


.woody .container {
  background:rgba(0,0,0,0.5);
}

img.me {
  height: 200px;
  width: 200px;
}

.questions{
  padding: 20px 0;
}

.question {
  font-style: italic;
  color: #FA3419;

}

.answer {
  margin-left: 20%;
}

.important.answer {
  font-size: 1.4em;
}

